@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  background: #ECECEC url(../img/bg-content.jpg) repeat;
  font-family: trebuchet;
  font-size: 13px;
  margin: 0;
  /* padding-top: 70px; */
}

header {
  /*
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  overflow: visible;
  */
}

.navbar-inner {
  height: 48px;
  background: #ECECEC url(../img/bg-head.gif) repeat;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
}

header .logo {
  text-indent: -9999px;
  display: block;
  float: left;
  width: 170px;
  height: 46px;
  background: url(../img/logo.jpg) no-repeat 0 0;
}

.nav {
  position: relative;
  display: block;
  float: right;
  margin: 0;
}

.nav > li {
  display: block;
  float: left;
  margin: 0;
}

header .nav > li > a {
  display: block;
  height: 29px;
  padding: 19px 4px 0px 4px;
  color: #bdbdbd;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 8px;
  font-family: 'Press Start 2P', cursive;
}

header .nav > li > a.feedback {
  color: #ff3c00;
}

header .nav > li > a:hover, header .nav .active > li > a, header .nav .active > li > a:hover {
  color: #fff;
}

footer {
  
}

.footer-inner {
  height: 65px;
  background: url(../img/bg-footer.jpg) repeat;
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-inner .nav > li > a {
  font-size: 9px;
  font-family: arial;
  text-transform: uppercase;
  padding: 0 4px 0 4px;
  text-decoration: underline;
  color: #666;
}

ul {
  list-style: none;
}