@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

html {
  height:100%;
}

body {
  background-image: url(../img/bg-midd.jpg);
  height:100%;
}

iframe {display:none;} 

.contenido-externo {
	height:100%;
	width:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#main.container {
	padding: 80px 0 40px 0;
}

label {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
  color: #434343;
}
/*
input, .uneditable-input {
  height: 16px
}*/

.formulario {
  background: url('../img/form-bg.png') no-repeat top center;
  min-width: 600px;
}

form.postulacion {
  padding: 65px 42px 0 43px;
  /* position: relative; */
  height: 240px;
  text-align: center;
}

form.postulacion #jornada {
    width: 145px;
}
form.postulacion #ocupacion {
    width: 195px;
}
form.postulacion #lugar {
    width: 125px;
}
form.postulacion #sueldo {
    width: 85px;
}

form.postulacion div {
  overflow: hidden; 
  margin-bottom: 15px;
}

form.postulacion .talentos {
  margin-bottom: 6px;
  margin-top: 19px;
}

form.postulacion .propuestas {
  margin-bottom: 10px;
}

form.postulacion .talentos label, form.postulacion .propuestas label  { text-align: right; width: 245px;}
form.postulacion input, form.postulacion select  { background: #efefef;}

form.postulacion button {
  margin-top: 17px;
  color: #39474c;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  font-size: 16px;
  text-shadow: none;
  padding: 7px 45px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/*
form.postulacion button.btn-primary {
	background: url(../img/bt-postularme.png);
	width: 208px;
	height: 34px;
	text-indent: -999em;
	overflow: hidden;
	display: block;
	position: absolute;
	right: 35px;
	bottom: 62px;
}*/

.input_error{
  color: #BD4247;
  border-color: #BD4247;
}

.navbar-inner {
  background: url('../img/bg-head.gif') repeat;
}

.navbar .brand {
  text-indent: -9999px;
  width: 170px;
  background: url('../img/logo.png') no-repeat 20px 0;
}

.navbar .nav {
  float: right;
  margin: 0;
}

.navbar .nav > li > a {
  font-size: 8px;
  padding: 17px 4px 13px;
  text-transform: uppercase;
  line-height: 18px;
  font-family: 'Press Start 2P', cursive;
}

.navbar .nav > li > a.feedback {
  color: #ff3c00;
}

.footer {
  margin-top: 50px;
  background: url(../img/bg-footer.jpg) repeat;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .footer-inner {
  height: 30px;
  padding: 10px 20px 0 20px;
}

.footer li {
  display: inline;
}