html {
  height:100%;
}

body {
  background-image: url('../img/bg-midd.jpg');
  height:100%;
}

iframe {display:none;} 

.contenido-externo {
	height:100%;
	width:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#main.container {
	padding: 80px 0 40px 0;
}

.home {
  background: url('../img/bg-logo.png') no-repeat 240px 30px;
}

.intro {
  
}

.intro-inner {
  text-align: right;
  padding-top: 30px;
}

.intro-inner hr{
  margin: 18px 0;
  border: none;
  background: url('../img/bg-hr.png') repeat-x;
  height: 2px;
}

.intro-inner h3 {
  font-size: 26px;
  color: #11A0B5;
  line-height: 30px;
  text-shadow: 1px 1px 1px white;
  font-family: 'Open Sans';
}

.intro-inner h2 {
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px white;
  line-height: 24px;
  font-family: 'Open Sans';
}

.intro-inner p {
  font-size: 16px;
  text-shadow: 1px 1px 1px white;
  line-height: 20px;
  font-family: 'Open Sans';
  font-style: italic;
}

.formulario {
  background: url('../img/bg-form.png') no-repeat center top;
/*  min-width: 600px; */
}

form.postulacion label {
  font-family: jrhandRegular;
  font-size: 18px;
  text-shadow: 1px 1px 1px white;
  color: #434343;
}

form.postulacion input, form.postulacion select {
  font-family: Verdana;
  font-size: 12px;
}

form.postulacion {
/*  padding: 65px 42px 0 43px; */
  padding: 65px 0 0 0;
  height: 440px;
  text-align: center;
}

form.postulacion #jornada {
    width: 145px;
}
form.postulacion #ocupacion {
    width: 195px;
}
form.postulacion #lugar {
    width: 125px;
}
form.postulacion #sueldo {
    width: 85px;
}

form.postulacion div.campo {
  margin-bottom: 15px;
}

form.postulacion .talentos {
  margin-bottom: 6px;
  margin-top: 19px;
}

form.postulacion .propuestas {
  margin-bottom: 18px;
}

form.postulacion .captcha {
  margin-left: 45px;
  margin-bottom: 26px;
}

form.postulacion .submit {
  margin: 0 20px;
}
form.postulacion .submit .alert {
  float: left;
  padding: 2px 30px 2px 10px;
  margin-top: 6px;
}

form.postulacion .submit .alert-error{
  background-color: transparent;
  border-color: #B94A48;
  color: #B94A48;
}

form.postulacion .talentos label, form.postulacion .propuestas label  { text-align: right; width: 245px;}
form.postulacion input, form.postulacion select  { background: #efefef;}


form.postulacion button.btn-postular {
  float: right;
  height: 36px;
  width: 242px;
  border: none;
  background: url('../img/btn-postularme.png') no-repeat;
  text-indent:-9999px;
}

.input_error{
  color: #B94A48!important;
  border-color: #B94A48!important;
}

.navbar-inner {
  background: url('../img/bg-head.gif') repeat;
  border-bottom: 1px solid white;
}

.navbar-inner .container {
  background: url('../img/lights-header.png') no-repeat center top;
}

.navbar .brand {
  text-indent: -9999px;
  width: 170px;
  background: url('../img/logo.png') no-repeat 20px 0;
}

.navbar .nav {
  float: right;
  margin: 0;
}

.navbar .nav > li > a {
  font-size: 8px;
  padding: 17px 6px 13px 10px;
  text-transform: uppercase;
  line-height: 18px;
  font-family: 'Press Start 2P', cursive;
  background: url('../img/nav-separator.png') no-repeat left 4px;
}

.navbar .nav > li > a.feedback {
  color: #ff3c00;
}

.footer {
  margin-top: 50px;
  background: url('../img/bg-footer.jpg') repeat;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid white;
}

.footer .footer-inner {
  height: 30px;
  padding: 10px 20px 0 20px;
}

.footer li {
  display: inline;
}

.box {
  background: url('../img/bg-box2.png') no-repeat 0 0;
  min-width: 300px;
  height: 229px;
  /*
  width: 361px;
  margin: 0 5px 10px 5px;
  */
}

.box .inner-box {
  padding: 6px 15px 0 15px;
}

.box .inner-box h2 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 0px -1px 1px #0F707E;
}

.box .inner-box p {
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 0;
}

.box .inner-box span.fecha {
  float: right;
  margin-right: 10px;
  font-family: 'Open Sans';
  font-size: 10px;
  line-height: 10px;
}

.box .inner-box .data {
  height: 115px;
}

.box .inner-box button.btn-contactar {
  margin-left: 56px;
  height: 37px;
  width: 152px;
  background: url('../img/btn-contactar.png') no-repeat;
  text-indent:-9999px;
  border: none;
}

.box .inner-box .tags {
  margin-top: 14px;
}

.box .inner-box .label{
  padding: 2px 10px 4px;
  font-weight: normal;
  font-size: 13px;
  float: left;
  margin: 0 2px 2px 0;
}

.form-search {
  background: url('../img/bg-search.png') no-repeat;
  height: 65px;
  padding: 22px 0 0 0;
  margin-bottom: 16px;
  text-align: center;
}

.form-search button.btn-search {
  margin-left: 10px;
  height: 32px;
  width: 134px;
  background: url('../img/btn-search.png') no-repeat;
  text-indent:-9999px;
  border: none;
}
