{% extends "layout.html" %}

{% block body %}
  <h3>¿Qué es Trabajo Macanudo?</h3>
  <p>Trabajo Macanudo es una forma ágil de buscar trabajo, sin necesidad de crear extensos perfiles que con el tiempo quedan desactualizados.</p>
  <p>Primero lo importante…  que hago, que me gustaría hacer, a donde, en qué lugar y ganando cuanto…  Si te interesa, te dejo un mail para que te pueda contactar.</p>
  <p>En tiempos de tanto dinamismo, donde los requerimientos personales y de las empresas van cambiando continuamente,  se necesitan formas simples y directas de contactar a  las personas con los trabajos que necesitan y a las empresas con los recursos adecuados, para eso, necesitamos eliminar burocracia del proceso, que el primer contacto sea fácil, luego sí, los caminos habituales que cada empresa tiene para seleccionar personal se ponen en marcha.</p>
  <p>Atte Banquito.</p>
{% endblock %}