{% extends "layout.html" %}

{% from "macros/_utils.html" import render_pagination %}

{% block body %}
  <table class="table table-striped">
    <tbody>
      {% for postulacion in postulaciones.items %}
      <tr>
        <td>{{ postulacion|safe }}</td>
        <td><button class="btn btn-primary" href="#">Contestar esta postulación</button></td>
        <td><i>{{ postulacion.get_pub_date()|timesince|safe }}</i></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {{ render_pagination(postulaciones, 'main.buscados')}}
{% endblock %}