{% extends "layout.html" %}

{% from "macros/_utils.html" import render_pagination %}

{% block body %}
  <form class="form-search" action="{{ url_for('main.buscados') }}" method="GET">
    <input name="ocupacion" value="{{ request.args.get('ocupacion','') }}" type="text" class="input-large search-query" placeholder="Desarrollador Web Sr." />
    <input name="lugar" value="{{ request.args.get('lugar','') }}" type="text" class="input-large search-query" placeholder="Capital Federal" />
    <input name="tags" value="{{ request.args.get('tags','') }}" type="text" class="input-xlarge search-query autocomplete" placeholder="php, python, mysql" />

    <button type="submit" class="btn-search">Buscar</button>
  </form>

  <div class="row">
    {% for empleo in empleos.items %}
    <div class="span4 box">
      <div class="inner-box">
        <div class="data">
          <h2>{{ empleo.ocupacion }}</h2>
          <p>Quiero trabajar <b>{{ empleo.get_jornada() }}</b> como <b>{{ empleo.ocupacion }}</b> en la zona de <b>{{ empleo.lugar }}</b> y ganar <b>{{ empleo.sueldo }}</b> pesos por mes.</p>
          <span class="fecha">{{ empleo.pub_date | timesince | safe }}</span>
        </div>

        <button type="submit" class="btn-contactar">Responder esta publicación</button>
        
        <div class="tags">
          <span class="label label-important">{{ empleo.pub_date | timesince | safe }}</span>
          {% for tag in empleo.tags: %}<span class="label label-inverse">{{ tag }}</span> {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div class="row">
    {{ render_pagination(empleos, 'main.buscados')}}
  </div>
{% endblock %}
