{% extends "layout.html" %}

{% block body %}
  <div class="hero-unit">
    <h2>Estoy buscando un trabajo macanudo...</h2>
    <hr />
    <form class="form-inline">
      <p>Soy <input type="text" placeholder="Desarrollador" class="span2" />, y actualmente gano
        <input class="span1" placeholder="8000" type="text"> pesos por mes en
        <input type="text" placeholder="Capital Federal" class="span2" />.
      </p>
      <p>
        Mandame las propuestas acá: 
        <input type="text" placeholder="mi@email.com" class="span3" />
      </p>
      <button type="submit" class="btn btn-primary">Postularme!</button>
    </form>
  </div>
{% endblock %}