{% extends "layout.html" %}

{% block body %}
  <div class="hero-unit">
    <h2>Estoy buscando un trabajo macanudo...</h2>
    <hr />

    {% if form.errors %}
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
      <strong>Error!</strong> Por favor revisá los campos.
    </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success">
            <button class="close" data-dismiss="alert">×</button>
            <strong>Enhorabuena!</strong> Gracias por registrarte en "Trabajo Macanudo", muy pronto vas a recibir miles de propuestas.
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form class="form-inline" action="{{ url_for('main.home') }}" method="post">
      {{ form.hidden_tag() }}
      <p>Soy {{ render_input(form.ocupacion_actual, 'Desarrollador Web', 'span2') }}, y actualmente gano
        {{ render_input(form.sueldo_actual, '8000', 'span1') }} pesos por mes en
        {{ render_input(form.area_actual, 'Capital Federal', 'span2') }}.
      </p>
      <p>
        Mandame las propuestas acá: {{ render_input(form.email, 'busco@labugo.com.ar', 'span3') }}
      </p>
      <button type="submit" class="btn btn-primary">Postularme!</button>
    </form>
  </div>
{% endblock %}

{% macro render_input(field, placeholder='', class='') %}
  {% if field.errors %}
    {{ field(placeholder=placeholder, class_=class~' input_error') }}
  {% else %}
    {{ field(placeholder=placeholder, class_=class) }}
  {% endif %}
{% endmacro %}