{% extends "layout.html" %}

{% block body %}
  <form class="form-search" action="{{ url_for('main.ofrecidos') }}" method="GET">
    <input name="ocupacion" value="{{ request.args.get('ocupacion','') }}" type="text" class="input-large search-query" placeholder="Desarrollador Web Sr." />
    <input name="lugar" value="{{ request.args.get('lugar','') }}" type="text" class="input-large search-query" placeholder="Capital Federal" />
    <input name="tags" value="{{ request.args.get('tags','') }}" type="text" class="input-xlarge search-query autocomplete" placeholder="php, python, mysql" />

    <button type="submit" class="btn-search">Buscar</button>
  </form>
{% endblock %}
