<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Trabajo Macanudo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/960.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
  <script src="{{ url_for('static', filename='js/libs/modernizr-2.5.3.min.js') }}"></script>
</head>
<body>

  <header>
    <div class="navbar-inner">
      <div class="container_12">
        <a class="logo" href="{{ url_for('main.home') }}">Trabajo Macanudo</a>
        <ul class="nav">
          <li><a href="{{ url_for('main.buscados') }}">Buscados</a></li>
          <li><a href="{{ url_for('main.ofrecidos') }}">Ofrecidos</a></li>
          <li><a href="{{ url_for('main.acercade') }}">Acerca de</a></li>
          <li><a href="{{ url_for('main.contacto') }}">Contacto</a></li>
          <li><a class="feedback" href="#">Feedback</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div id="main" class="main-container">
    <div class="container_12">
      {% block body %}{% endblock %}
    </div>
  </div>

  <footer>
    <div class="footer-inner">
      <div class="container_12">
        <ul class="nav">
          <li><a href="{{ url_for('main.buscados') }}">Buscados</a></li>
          <li><a href="{{ url_for('main.ofrecidos') }}">Ofrecidos</a></li>
          <li><a href="{{ url_for('main.acercade') }}">Acerca de</a></li>
          <li><a href="{{ url_for('main.contacto') }}">Contacto</a></li>
          <li><a class="feedback" href="#">Feedback</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <a href="http://github.com/clodo/trabajo-macanudo">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2000"
    src="{{ url_for('static', filename='img/github_ribbon.png') }}" alt="Fork me on GitHub">
  </a>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/libs/jquery-1.7.1.min.js') }}"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <!-- end scripts -->

  <script>
    var _gaq=[['_setAccount','UA-32116354-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>