<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <title>::Trabajo Macanudo::</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset=utf-8>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.cerulean.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ui-custom-theme/jquery-ui-1.8.16.custom.css') }}">

  <style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .input_error{
      color: #BD4247;
      border-color: #BD4247;
    }
  </style>
  {% endblock %}

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32116354-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{ url_for('main.home') }}">Trabajo Macanudo</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="{{ url_for('main.buscados') }}">Buscados</a></li>
            <li><a href="{{ url_for('main.ofrecidos') }}">Ofrecidos</a></li>
            <li><a href="{{ url_for('main.contacto') }}">Contacto</a></li>
            <li><a href="{{ url_for('main.acercade') }}">Acerca de</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    {% block body %}{% endblock %}

    <hr>

    <footer>
      <p>&copy; <a href="http://www.elgalpondebanquito.com.ar" target="_blank">Banquito</a> 2012</p>
    </footer>
  </div> <!-- /container -->
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}">\x3C/script>')</script>
  <script src="{{ url_for('static', filename='js/jquery-ui-1.8.16.custom.min.js') }}"></script>
  <!-- script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script -->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
