<!doctype html>
<head>
  <meta charset="utf-8">

  <title>Trabajo Macanudo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
  
  <!-- link rel="stylesheet" href="{{ url_for('static', filename='css/ui-custom-theme/jquery-ui-1.8.16.custom.css') }}" -->
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	<div class="contenido-externo">
		<div id="wrapper">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ url_for('main.home') }}">Trabajo Macanudo</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li><a href="{{ url_for('main.buscados') }}">Buscados</a></li>
                <li><a href="{{ url_for('main.ofrecidos') }}">Ofrecidos</a></li>
                <li><a href="{{ url_for('main.acercade') }}">Acerca</a></li>
                <li><a href="{{ url_for('main.contacto') }}">Contacto</a></li>
                <li><a class="feedback" href="#">Feedback!</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <div class="container" id="main">
        {% block body %}{% endblock %}
      </div> <!-- /container -->

      <div class="footer footer-fixed-bottom">
        <div class="footer-inner">
          <div class="container">
            <div class="pull-left">
              <p>Copyright © 2012 <a href="http://www.elgalpondebanquito.com.ar" target="_blank">Banquito</a></p>
            </div>
            <div class="pull-right">
              <ul class="unstyled">
                <li><a href="{{ url_for('main.buscados') }}">Buscados</a></li> |
                <li><a href="{{ url_for('main.ofrecidos') }}">Ofrecidos</a></li> |
                <li><a href="{{ url_for('main.acercade') }}">Acerca</a></li> |
                <li><a href="{{ url_for('main.contacto') }}">Contacto</a></li> |
                <li><a class="feedback" href="#">Feedback!</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

	  </div><!--wrapper-->	
  </div><!--contenido-externo-->

  <!-- a href="http://github.com/clodo/trabajo-macanudo">
    <img style="position: fixed; top: 0; right: 0; border: 0; z-index: 2000"
    src="{{ url_for('static', filename='img/github_ribbon.png') }}" alt="Fork me on GitHub">
  </a -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}">\x3C/script>')</script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui-1.8.16.custom.min.js') }}"></script>
  <!-- script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script -->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

  <script>
    var _gaq=[['_setAccount','UA-32116354-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
